@import url("reset.css");

body { font-family: Times; line-height: 1.2 }

.author { display: block; float: right;
          font-size: 80%; font-family: Helvetica; font-style: italic;
          letter-spacing: -0.02em;
          padding-top: 0.5em; padding-right: 0.5em }
.author:first-line {font-weight: bold}

h1, h2, h3, h4 { font-weight: bold; font-family: Helvetica; line-height: 1.5; letter-spacing: 0; color: #258 }
h3 { margin-bottom: 0.3em; margin-top: 0.7em }
h2 { margin-bottom: 0.4em }
h2 > span { padding-bottom: 0.05em; padding-left: 0.1em; padding-right: 0.6em;
            border-bottom: 2pt solid #58c }
h1 { text-width: 100%; font-size: 173%; text-transform: uppercase; text-align: center; line-height: 1.2 }
h1 > .subtitle {font-size: 80%; text-transform: none; line-height: 1.0}

div.region { min-height: 4em; 
             margin-top: 0.5em; margin-left: 0.5em; 
             padding-top: 0.5em; padding-left: 0.8em; padding-right: 0.2em;
             border-left: 2pt solid lightgray; border-top: 2pt solid lightgray;
             letter-spacing: -0.02em }

h2 {font-size: 120%; text-align: left; font-variant: small-caps }
h3 {font-size: 109%; text-align: left }
h4 {font-size: 90%; font-style: italic; text-align: left; margin-left: 1em; }

div.rashi { float: right; width: 30%; }
div.tosafot { float: left; width: 24%; color: #333; background-color: #ffe;
             border-left: 6pt solid; border-top: 2pt solid; 
              border-color: #ccc;  }

div.guf { width: 45%; margin-left: 24%; padding: 0.5em;
          background-color: white }

div.mishna { font-size: 125% ;
             border-left-width: 12pt; border-top-width: 4pt; 
              border-color: #6af;  }

div.halacha {  border-left-width: 12pt; border-top-width: 4pt; 
               border-color: #af6; }

div.gmara { font-size: 110%;
            border-left-width: 12pt; border-top-width: 4pt; 
            border-color: #fa6;}

div.pesek { font-size: 125%;
            border-left-width: 12pt; border-top-width: 4pt; 
            border-color: #f9c;}

div.derecharetz { font-size: 90%; }

div.musar { float: left; width: 40%; line-height: 1.44; font-size: 109%; background-color: #efd }
div.safek { float: right; width: 54%; line-height: 1.44; font-size: 109%; background-color: #efd }
div.barcode { float: right; width: 12%; background-color: white; padding: 0.25em; }

div.maximized { font-size: 200%;
                position: absolute; width: 99%; height: 100%;
                padding: 0.5%;
                margin: 0%;
                background-color: white;
                top: 9%; left: 0% }

p, table { margin-bottom: 0.4em; margin-top: 0.4em }
ol, ul  { margin-bottom: 0.3em; margin-top: 0.3em; list-style-position: outside }
ul { list-style-type: none; margin-left: 0.5em }
ol { list-style-type: decimal }
ol ol { list-style-type: lower-latin }
li { margin-left: 1em; margin-bottom: 0.1em; margin-top: 0.1em }
ul > li {text-indent: -1em}

i { font-style: italic }
b { font-weight: bold }
tt { font-family: monospace}
em { background-color: #ffc; border-bottom: 1pt solid #ee0; padding: 0em 0.1em; }
strong { background-color: #fdd; border-bottom: 1pt solid #e00; padding: 0em 0.1em; }

p.algorithm {
    font: 90% monospace; letter-spacing: -0.1em; white-space: pre }
kwd { text-transform: lowercase; font-weight: bold }
fun { font-variant: small-caps; letter-spacing: 0}
comment {font-style: italic; color: #66f;}
comment::before { content: "      \25b9\ "}
p.algorithm span.lineno { color: #bbb; }

p.code { font: 80% monospace; letter-spacing: -0.1em; white-space: pre}
p.code span.lineno { color: #bbb; }

p.note {font: 70%; letter-spacing: -0.01em; 
     	border-left: thin solid lightgray; border-top: thin solid lightgray;
		padding: 4pt;}

object.results { width: 90%; text-align: center }
