body {width: 32in; font-size: 28pt}

div.guf { min-height: 20in }
div.musar { min-height: 3in }
div.safek { min-height: 3in }

div { -webkit-print-color-adjust:exact; }
span { -webkit-print-color-adjust:exact; }
